#flagTitle img{
    height: 30px;
    width: auto;
}

.match {
    text-align : center ;
}

a {
    text-decoration: none;
    color: rgb(0, 50, 100);
    cursor: pointer;
}

.container {
    max-width: 2000px;
}

.flag
{
    width: 20px;
    height: auto;
}

.percentage-indicator {
    position: relative;
    width: 100px;
    height: 20px; 
    border: 1px solid #ccc;
}

.fill {
    position: absolute;
    height: 100%;
    width: 0;
}

.lv-1 {
    background-color: #f894a9;
}

.lv-2 {
    background-color: #f3ba85;
}

.lv-3 {
    background-color: #f3ed9c;
}

.lv-4 {
    background-color: #c0fcc2;
}

.lv-5 {
    background-color: #7bf1c4;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.fixture {
    color: #746cb6;
    font-style: italic;
}

#LineChart {
    max-height: 200px;
    width: auto;
}
